In [1]:
import pandas as pd

In [5]:
df1 = pd.read_csv('20230307_01.csv')

In [6]:
df2 = pd.read_csv('20230307_02.csv')

In [7]:
df1.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [8]:
df2.head()

     이름    연봉  가족수
0    지민  3000    3
1  지드래곤  3500    3
2  강다니엘  3200    4
3     뷔  3050    4
4    화사  4300    3

In [9]:
df1_copy = df1.copy()

In [10]:
df1_copy

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [11]:
pd.concat([df1, df1_copy],sort=False) # 문자열 합치기 (concat = 연결자)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [12]:
df1_concat = pd.concat([df1, df1_copy],sort=False)

In [13]:
df1_concat

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [14]:
df1_concat.reset_index()

    index    이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0       0    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1       1  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2       2  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3       3     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4       4    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5       5    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6       6    민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7       7    소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8       8     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9       9   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10     10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11     11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12     12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13     13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14     14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15      0    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
16      1  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
17      2  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
18      3     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
19      4    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
20      5    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
21      6    민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
22      7    소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
23      8     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
24      9   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
25     10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
26     11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
27     12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
28     13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
29     14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [15]:
df1_concat.reset_index(drop=True) # 인덱스 값을 지워줌

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
16  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
17  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
18     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
19    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
20    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
21    민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
22    소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
23     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
24   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
25    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
26   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
27    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
28    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
29    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      15 non-null     object
 1   연봉      15 non-null     int64
 2   가족수     15 non-null     int64
dtypes: int64(2), object(1)
memory usage: 488.0+ bytes

In [18]:
pd.concat([df1, df2],axis=1)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    이름    연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    지민  3000    3
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  지드래곤  3500    3
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  강다니엘  3200    4
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     뷔  3050    4
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    화사  4300    3
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    정국  2900    5
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    민현  3400    6
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    소연  4500    5
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308     진  4200    4
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489   하성운  4300    4
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    태연  3700    3
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027   차은우  3850    5
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    백호  3900    4
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    JR  4100    3
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    슈가  4150    3

In [19]:
df3 = df2.drop([3,5])

In [20]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 0 to 14
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      13 non-null     object
 1   연봉      13 non-null     int64
 2   가족수     13 non-null     int64
dtypes: int64(2), object(1)
memory usage: 416.0+ bytes

In [21]:
pd.concat([df1, df3],axis=1)

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,이름,연봉,가족수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,지민,3000.0,3.0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,지드래곤,3500.0,3.0
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,강다니엘,3200.0,4.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,NaN,NaN,NaN
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,화사,4300.0,3.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,NaN,NaN,NaN
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,민현,3400.0,6.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,소연,4500.0,5.0
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,진,4200.0,4.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,하성운,4300.0,4.0
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,태연,3700.0,3.0
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,차은우,3850.0,5.0
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,백호,3900.0,4.0
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,JR,4100.0,3.0
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,슈가,4150.0,3.0

In [22]:
df2

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
3      뷔  3050    4
4     화사  4300    3
5     정국  2900    5
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [23]:
df2_right = df2.drop([1,3,5,7,9],axis=0)

In [24]:
df2_right

      이름    연봉  가족수
0     지민  3000    3
2   강다니엘  3200    4
4     화사  4300    3
6     민현  3400    6
8      진  4200    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [25]:
df2_right = df2_right.reset_index(drop = True)

In [26]:
df2_right

     이름    연봉  가족수
0    지민  3000    3
1  강다니엘  3200    4
2    화사  4300    3
3    민현  3400    6
4     진  4200    4
5    태연  3700    3
6   차은우  3850    5
7    백호  3900    4
8    JR  4100    3
9    슈가  4150    3

In [28]:
df1

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [29]:
pd.concat([df1,df2_right],axis=1)

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,이름,연봉,가족수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,지민,3000.0,3.0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,강다니엘,3200.0,4.0
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,화사,4300.0,3.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,민현,3400.0,6.0
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,진,4200.0,4.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,태연,3700.0,3.0
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,차은우,3850.0,5.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,백호,3900.0,4.0
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,JR,4100.0,3.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,슈가,4150.0,3.0
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,NaN,NaN,NaN
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,NaN,NaN,NaN
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,NaN,NaN,NaN
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,NaN,NaN,NaN
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,NaN,NaN,NaN

In [31]:
pd.merge( df1, df2_right,on='이름', how='left') # 왼쪽 기준으로 병합

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수      연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  3000.0  3.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947     NaN  NaN
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  3200.0  4.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     NaN  NaN
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  4300.0  3.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335     NaN  NaN
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  3400.0  6.0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615     NaN  NaN
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  4200.0  4.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489     NaN  NaN
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  3700.0  3.0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  3850.0  5.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  3900.0  4.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  4100.0  3.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  4150.0  3.0

In [32]:
pd.merge(df1,df2_right, on='이름', how='right') #오른쪽 기준으로 병합

     이름     그룹   소속사  성별        생년월일      키 혈액형   브랜드평판지수    연봉  가족수
0    지민  방탄소년단   빅히트  남자  1995-10-13  173.6   A  10523260  3000    3
1  강다니엘    NaN   커넥트  남자  1996-12-10  180.0   A   8273745  3200    4
2    화사    마마무   RBW  여자  1995-07-23  162.1   A   7650928  4300    3
3    민현   뉴이스트  플레디스  남자  1995-08-09  182.3   O   4989792  3400    6
4     진  방탄소년단   빅히트  남자  1992-12-04  179.2   O   4570308  4200    4
5    태연   소녀시대    SM  여자  1989-03-09    NaN   A   3918661  3700    3
6   차은우   아스트로  판타지오  남자  1997-03-30  183.0   B   3506027  3850    5
7    백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB   3301654  3900    4
8    JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O   3274137  4100    3
9    슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O   2925442  4150    3

In [33]:
pd.merge(df1, df2_right, on='이름', how='inner') # 두 DataFrame에 모두 키 값이 존재하는 경우

     이름     그룹   소속사  성별        생년월일      키 혈액형   브랜드평판지수    연봉  가족수
0    지민  방탄소년단   빅히트  남자  1995-10-13  173.6   A  10523260  3000    3
1  강다니엘    NaN   커넥트  남자  1996-12-10  180.0   A   8273745  3200    4
2    화사    마마무   RBW  여자  1995-07-23  162.1   A   7650928  4300    3
3    민현   뉴이스트  플레디스  남자  1995-08-09  182.3   O   4989792  3400    6
4     진  방탄소년단   빅히트  남자  1992-12-04  179.2   O   4570308  4200    4
5    태연   소녀시대    SM  여자  1989-03-09    NaN   A   3918661  3700    3
6   차은우   아스트로  판타지오  남자  1997-03-30  183.0   B   3506027  3850    5
7    백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB   3301654  3900    4
8    JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O   3274137  4100    3
9    슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O   2925442  4150    3

In [35]:
pd.merge(df1, df2_right, on='이름', how='outer') 
# 하나의 DataFrame에 키 값이 존재하는 경우 모두 병합
# Outer 방식에서는 없는 값은 NaN으로 대입됩니다.

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수      연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  3000.0  3.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947     NaN  NaN
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  3200.0  4.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     NaN  NaN
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  4300.0  3.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335     NaN  NaN
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  3400.0  6.0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615     NaN  NaN
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  4200.0  4.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489     NaN  NaN
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  3700.0  3.0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  3850.0  5.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  3900.0  4.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  4100.0  3.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  4150.0  3.0

In [36]:
df2_right.columns = ['성함','연봉','가족수']

In [37]:
df2_right

     성함    연봉  가족수
0    지민  3000    3
1  강다니엘  3200    4
2    화사  4300    3
3    민현  3400    6
4     진  4200    4
5    태연  3700    3
6   차은우  3850    5
7    백호  3900    4
8    JR  4100    3
9    슈가  4150    3

In [38]:
pd.merge(df1, df2_right, left_on='이름', right_on= '성함', how='outer')

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,성함,연봉,가족수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,지민,3000.0,3.0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,NaN,NaN,NaN
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,강다니엘,3200.0,4.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,NaN,NaN,NaN
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,화사,4300.0,3.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,NaN,NaN,NaN
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,민현,3400.0,6.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,NaN,NaN,NaN
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,진,4200.0,4.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,NaN,NaN,NaN
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,태연,3700.0,3.0
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,차은우,3850.0,5.0
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,백호,3900.0,4.0
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,JR,4100.0,3.0
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,슈가,4150.0,3.0